<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        *{
            background-color: rgb(27, 27, 48);
        }
        
        ._404{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            font-size: 100px;
            margin-top: 200px;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .text{
            font-size: 50px;
        }
    </style>
</head>
<body>
    
    <div class="_404">
        404
        <div class="text">Are you missed? Try to find pokemons somewhere else...</div> 
    </div>
</body>
</html>