<%- include('partials/header') -%>
<main>
    
    <div class="message" style="margin-top:200px ;width: 70%;color: black;">Hey, seems that you aren't playing the game in a discord server!! If the link to the bot is not here, go talk with <a style="text-decoration: none;color: rgb(255, 61, 61);" href="https://twitter.com/shibuyanikes">me</a> and maybe we can solve this!</div>

</main>

<%- include('partials/footer') -%>