<%- include('partials/header') -%>
<main>
    <img src="/images/pokemon.png" alt="pokemon logo" class="poke-logo">

    <div class="button_cont" >
        <a class="btn-login" href="/auth" >Login</a>
    </div>

    <div class="creator-container">Create by <a href="https://github.com/Andremzzr">Amdre</a></div>
</main>


<%- include('partials/footer') -%>