<header>
    <nav>
      <a class="logo nav" href="#">PokeStay Market</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="/dashboard/profile" class="nav">Profile</a></li>
        <li><a href="#" class="nav">Points</a></li>
        <li><a href="/dashboard/logout" class="nav">Logout</a></li>
      </ul>
    </nav>
  </header>