<form action="/dashboard/pokemons/" method="POST" class="type-form">
    <button class="btn-type"type="submit" name="type"style="background-color:#FDDFDF ;"value="Fire">Fire</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #A6D5FF;"value="Water">Water</button>
    <button class="btn-type"type="submit" name="type" style="background-color:#A3FFC1 ;"value="Grass">Grass</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #f4e7da;"value="Ground">Ground</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #FCF7DE;"value="Eletric">Eletric</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #d5d5d4;"value="Rock">Rock</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #fceaff;"value="Fairy">Fairy</button>
    <button class="btn-type"type="submit" name="type" style="background-color:#CAAAFF ;"value="Poison">Poison</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #f8d5a3;"value="Bug">Bug</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #97b3e6;"value="Dragon">Dragon</button>
    <button class="btn-type"type="submit" name="type" style="background-color:#eaeda1 ;"value="Psychic">Psychic</button>
    <button class="btn-type"type="submit" name="type" style="background-color:#F5F5F5 ;"value="Normal">Normal</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #F5F5F5;"value="Flying">Flying</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #E6E0D4;"value="Fighting">Fighting</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #DEDEDE;"value="Steel">Steel</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #C7DEE5;"value="Ice">Ice</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #D2C5E6;"value="Ghost">Ghost</button>
    <button class="btn-type"type="submit" name="type" style="background-color: #9A90A9;"value="Dark">Dark</button>
    
</form>
<button class="btn-type"><a href="/dashboard">All</a></button>